@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.section {
  padding: 85px 0 120px;
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.button-arrow-right {
  -webkit-appearance: none;
  background: #3f51b5 url(../img/arrow-b@2x.png) no-repeat center right 12px/17px 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 14px 60px;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  transition: all 0.3s ease 0s;
  width: 304px;
  max-width: 100%;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .button-arrow-right {
    padding: 14px 32px;
    width: 100%;
  }
}

.section-title {
  font-size: 45px;
  letter-spacing: -2px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 14px;
  position: relative;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 28px;
  }
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3f51b5;
}

@media (max-width: 767px) {
  .section-title::after {
    font-size: 24px;
    width: 48px;
    height: 3px;
  }
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header {
  background: #3f51b5;
  height: 100px;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;
}

@media (max-width: 767px) {
  .header__logo {
    width: 182px;
  }
}

.header__logo img {
  display: block;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav li:not(:first-child) {
  margin-left: 42px;
}

.header__nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.header__nav li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: all 0.3 ease 0s;
}

.header__nav li a:hover::after, .header__nav li a.is-active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e81919;
}

.main-visual {
  height: 600px;
  width: 100%;
  background: url(../img/mainvisual.png) no-repeat center center/cover;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .main-visual {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual__content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 21px;
}

@media (max-width: 767px) {
  .main-visual__content {
    padding-left: 46px;
    padding-right: 46px;
  }
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .main-visual__title {
    font-size: 32px;
  }
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .main-visual__lead {
    font-size: 18px;
    margin-top: 10px;
  }
}

.main-visual__button {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .main-visual__button {
    margin-top: 28px;
  }
}

.main-visual__button a {
  display: inline-block;
  width: 390px;
  max-width: 100%;
  height: 72px;
  line-height: 72px;
  font-size: 23px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  background: #3f51b5;
  border-radius: 12px;
  box-shadow: 0 3px 6px rbga(#000, 0.16);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .main-visual__button a {
    width: 280px;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
  }
}

.main-visual__button a:hover {
  opacity: 0.7;
}

.card {
  background: #efefef;
}

.card__items {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.card__item {
  width: calc(33.3% - 24px * 2 / 3);
  background: #fff;
  padding: 16px;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .card__item:not(:nth-child(3n + 1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n + 4) {
    margin-top: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .card__item {
    width: calc(50% - 24px * 1 / 2);
  }
  .card__item:not(:nth-child(2n + 1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n + 3) {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .card__item {
    width: 100%;
    margin-left: 0;
  }
  .card__item:nth-child(n + 2) {
    margin-top: 24px;
  }
}

.card__img img {
  width: 100%;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-top: 5px;
  letter-spacing: 0.1px;
}

.card__text {
  color: #333;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 5px;
  letter-spacing: 0.01em;
}

.news {
  background: #fff;
}

.news__items {
  margin: 60px auto 0;
  width: 800px;
  max-width: 100%;
}

.news__item {
  display: flex;
  padding: 21px 0 12px;
}

.news__item:not(:first-child) {
  border-top: 1px solid #707070;
}

@media (max-width: 767px) {
  .news__item {
    display: block;
  }
}

.news__meta {
  display: flex;
  width: 185px;
}

.news__date {
  width: 105px;
  padding-top: 3px;
  font-family: "Lato", sans-serif;
}

.news__label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.news__label a.is-blue {
  background: #3f51b5;
}

.news__label a.is-red {
  background: #e81919;
}

.news__label a:hover {
  opacity: 0.7;
}

.news__title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 4px;
  letter-spacing: 0.05em;
  line-height: 0.1;
}

@media (max-width: 767px) {
  .news__title {
    width: 100%;
  }
}

.news__title a {
  text-decoration: none;
  line-height: 1.25;
  letter-spacing: 1;
  transition: all 0.3s ease 0s;
}

.news__title a:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .news__title {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 6px;
  }
}

.news___more {
  margin-top: 44px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.news___more a {
  text-decoration: none;
  color: #E81919;
  font-weight: 700;
  padding-right: 14px;
  position: relative;
  transition: all 0.3s ease 0s;
}

.news___more a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url(../img/news-arrow.png) no-repeat center center/contain;
}

.news___more a:hover {
  opacity: 0.7;
}

.price {
  background: #efefef;
}

.price__content {
  display: flex;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .price__content {
    display: block;
    margin-top: 40px;
  }
}

.price__image {
  width: 37.83333%;
}

@media (max-width: 767px) {
  .price__image {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .price__image {
    width: calc(50% - 24px * 1 / 2);
  }
}

.price__table {
  width: 59%;
  margin-left: auto;
}

@media (max-width: 767px) {
  .price__table {
    width: 100%;
    margin-top: 24px;
  }
}

.price__attention a {
  font-size: 14px;
  transition: all 0.3s ease 0s;
}

.price__attention a:hover {
  opacity: 0.7;
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  font-weight: 700;
  width: 100%;
  table-layout: fixed;
}

.table th,
.table td {
  border: 1px solid #707070;
  padding: 0 24px;
  height: 57px;
  vertical-align: middle;
  letter-spacing: -0.1em;
}

.table th {
  background: #999;
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.table th:nth-child(1) {
  width: 172px;
}

@media (max-width: 767px) {
  .table th:nth-child(1) {
    width: 80px;
  }
}

.table td {
  text-align: right;
}

.table strong {
  color: #E81919;
  line-height: 1.2;
}

.table span {
  font-size: 13px;
  display: block;
  margin-top: 1px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.price__attention {
  margin-top: 6px;
  letter-spacing: 0.01em;
}

.access__map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .access__map {
    margin-top: 80px;
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}

.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}

.access__info-row {
  display: flex;
  align-items: center;
}

.access__info-row:not(:first-child) {
  margin-top: 8px;
}

.access__info-row dt {
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 104px;
}

.access__info-row dd {
  margin: 0;
  padding: 0;
  width: calc(100% - 104px);
}

.access__button {
  text-align: center;
  margin-top: 22px;
}

.access__button a {
  text-decoration: none;
  display: inline-block;
  width: 304px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 16px 12px;
  border-radius: 8px;
  background: #3f51b5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  transition: all 0.3s ease 0s;
}

.access__button a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: url(../img/button-arrow.png) no-repeat center center/contain;
}

.access__button a:hover {
  opacity: 0.7;
}

.contact {
  background: #efefef;
}

.contact__form {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 47px 60px 62px;
}

@media (max-width: 767px) {
  .contact__form {
    margin-top: 40px;
    padding: 24px;
  }
}

.contact-form__row {
  display: flex;
}

@media (max-width: 767px) {
  .contact-form__row {
    display: block;
  }
}

.contact-form__row:not(:first-child) {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .contact-form__row:not(:first-child) {
    margin-top: 30px;
  }
}

.contact-form__label {
  width: 160px;
  padding: 9px 0 0;
  margin: 0;
}

@media (max-width: 767px) {
  .contact-form__label {
    width: 100%;
  }
}

.contact-form__label label {
  font-weight: 700;
}

.contact-form__label label.is-required {
  display: inline-block;
  position: relative;
}

.contact-form__label label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #E81919;
  text-align: center;
  border-radius: 4px;
  padding: 2px 8px;
  line-height: 1;
}

@media (max-width: 767px) {
  .contact-form__label label.is-required::after {
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 44px;
  }
}

.contact-form__input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .contact-form__input {
    width: 100%;
    margin-top: 5px;
  }
}

.contact-form__input [type="text"] {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 7px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-form__input [type="email"] {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 7px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-form__input select {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff url(../img/select-arrow2.png) no-repeat right 12px center/17px 14px;
  padding: 12px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-form__input textarea {
  height: 240px;
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  resize: none;
}

.contact-form__radio {
  margin-top: 22px;
}

@media (max-width: 767px) {
  .contact-form__radio {
    margin-top: 24px;
  }
}

.contact-form__radio [type="radio"] {
  display: none;
}

.contact-form__radio span {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
}

@media (max-width: 767px) {
  .contact-form__radio span {
    margin-bottom: 8px;
    margin-right: 20px;
  }
}

.contact-form__radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}

.contact-form__radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3f51b5;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}

.contact-form__radio [type="radio"]:checked + span::after {
  display: block;
}

.contact-form__check {
  margin-top: 60px;
  text-align: center;
}

@media (max-width: 767px) {
  .contact-form__check {
    margin-top: 40px;
  }
}

.contact-form__check [type="checkbox"] {
  display: none;
}

.contact-form__check span {
  display: inline-block;
  padding-left: 49px;
  position: relative;
}

.contact-form__check span a {
  font-weight: 700;
  transition: all 0.3s ease 0s;
}

.contact-form__check span a:hover {
  opacity: 0.7;
}

.contact-form__check span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #707070;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.contact-form__check span::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: transparent url(../img/checkbox2.png) no-repeat center center/contain;
  display: none;
}

.contact-form__check [type="checkbox"]:checked + span::after {
  display: block;
}

.contact-form__button {
  margin-top: 30px;
  text-align: center;
}

.contact-form__button [type="submit"] {
  background: #3f51b5 url(../img/button-arrow.png) no-repeat right 12px center/17px 16px;
  width: 304px;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  appearance: none;
  font-family: inherit;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.contact-form__button [type="submit"]:hover {
  opacity: 0.7;
}

.footer {
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 60px 0 24px;
  color: #fff;
}

.footer__content {
  display: flex;
}

@media (max-width: 767px) {
  .footer__content {
    display: block;
  }
}

.footer__left {
  width: 34%;
}

@media (max-width: 767px) {
  .footer__left {
    width: 100%;
  }
}

.footer__logo img {
  width: 205px;
}

.footer__address,
.footer__tel {
  font-size: 14px;
}

.footer__address {
  margin-top: 24px;
}

@media (max-width: 767px) {
  .footer__address {
    margin-top: 13px;
  }
}

.footer__tel {
  margin-top: 2px;
  letter-spacing: -0.05em;
}

@media (max-width: 767px) {
  .footer__tel {
    margin-top: 6px;
  }
}

.footer__center {
  width: 50%;
  margin-top: -4px;
  letter-spacing: 0.01em;
}

@media (max-width: 767px) {
  .footer__center {
    width: 100%;
    margin-top: 24px;
  }
}

.footer__nav {
  display: flex;
}

.footer__nav li:not(:first-child) {
  margin-left: 36px;
}

@media (max-width: 767px) {
  .footer__nav li:not(:first-child) {
    margin-left: 20px;
  }
}

.footer__nav li a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.footer__nav li a:hover {
  opacity: 0.7;
}

.footer__right {
  width: 16%;
}

@media (max-width: 767px) {
  .footer__right {
    width: 100%;
    margin-top: 24px;
  }
}

.footer__sns {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .footer__sns {
    justify-content: center;
  }
}

.footer__sns li:not(:first-child) {
  margin-left: 16px;
}

.footer__sns li a {
  text-align: center;
  transition: all 0.3s ease 0s;
}

.footer__sns li a:hover {
  opacity: 0.7;
}

.footer__sns li img {
  width: 30px;
}

.footer__copy {
  text-align: center;
  font-size: 14px;
  margin-top: 38px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.02em;
}

@media (max-width: 767px) {
  .footer__copy {
    margin-top: 22px;
  }
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .to-top {
    right: 12px;
    bottom: 12px;
  }
}

.to-top.is-show {
  opacity: 1;
  visibility: visible;
}

.to-top a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.to-top a:hover {
  opacity: 0.7;
}

.to-top a img {
  width: 60px;
}

@media (max-width: 767px) {
  .to-top a img {
    width: 40px;
  }
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background: transparent url(../img/arrow-next@2x.png) no-repeat center center/contain;
  right: calc(50% - 600px);
}

.swiper-button-next::after {
  display: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 767px) {
  .swiper-button-next {
    right: 10px;
  }
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background: transparent url(../img/arrow-prev@2x.png) no-repeat center center/contain;
  left: calc(50% - 600px);
}

.swiper-button-prev::after {
  display: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .swiper-button-prev {
    left: 10px;
  }
}

@media (max-width: 767px) {
  .swiper-button-prev {
    left: 10px;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 8px;
  margin-left: 8px;
}

.swiper-pagination-bullet-active {
  background: #2f7dc8;
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  transition: transform 0.5s ease 0s;
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active {
  transform: translateX(-200px);
}

.drawer-icon.is-active .drawer-icon__bar1 {
  transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  transform: rotate(45deg);
  top: 8px;
}

.drawer-icon__bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background: #fff;
  top: 0;
  left: 0;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
}

.drawer-content.is-active {
  transform: translateX(0);
}

.drawer-content_item {
  border-bottom: 1px dotted #707070;
}

.drawer-content_item a {
  display: block;
  color: #707070;
  text-decoration: none;
  padding: 18px 20px;
  position: relative;
}

.drawer-content_item a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 11px;
  background: url(../img/arrow-next@2x.png) no-repeat center center/contain;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 298;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

.qa__items {
  width: 900px;
  max-width: 100%;
  margin: 80px auto 0;
}

.qa__item:nth-child(n + 2) {
  margin-top: 24px;
}

.qa-box {
  border: 1px solid #3f51b5;
}

.qa-box__q {
  color: #fff;
  background: #3f51b5;
  padding: 12px 56px;
  position: relative;
}

.qa-box__q::before {
  content: "Q";
  position: absolute;
  top: 12px;
  left: 20px;
}

.qa-box__icon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.qa-box__icon.is-open .qa-box__bar2 {
  transform: rotate(90deg);
}

.qa-box__bar1 {
  width: 14px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.qa-box__bar2 {
  width: 2px;
  height: 14px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  transition: all 0.3s ease 0s;
}

.qa-box__a {
  background: #fff;
  font-weight: 700;
  color: #3f51b5;
  line-height: 1.5;
  padding: 16px 30px 16px 20px;
  display: none;
}

.qa-box__content {
  position: relative;
  padding-left: 35px;
}

.qa-box__content::before {
  content: "A";
  position: absolute;
  top: 0;
  left: 0;
}

.modal-contact {
  position: fixed;
  z-index: 501;
  width: 900px;
  max-width: calc(100% - 24px * 2);
  height: 652px;
  max-height: calc(100% - 24px * 2);
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  color: #707070;
  display: none;
}

@media (max-width: 767px) {
  .modal-contact {
    padding-left: 30px;
  }
}

.modal-contact__head {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 24px;
  text-align: center;
  position: relative;
}

.modal-contact__head::after {
  content: "";
  width: 100px;
  height: 2px;
  background: #3f51b5;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.modal-contact__content {
  margin-top: 40px;
  height: calc(100% - 88px - 108px);
  overflow: auto;
}

.modal-contact__content > :first-child {
  margin-top: 0;
}

.modal-contact__sub-head {
  font-size: 20px;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
  margin-top: 40px;
}

.modal-contact__sub-head::before {
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 20px;
  background: #3f51b5;
  position: absolute;
}

.modal-contact__text {
  padding-top: 16px;
  line-height: 1.5;
  padding-left: 20px;
}

.modal-contact__button {
  margin-top: 16px;
  text-align: center;
}

.modal-contact__button a {
  text-decoration: none;
  display: inline-block;
  width: 176px;
  padding: 14px;
  text-align: center;
  color: #fff;
  background: #3f51b5;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.modal-contact__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -20px;
  top: -20px;
}

.modal-contact__icon a {
  text-align: center;
}

.modal-contact__icon img {
  width: 40px;
}

.modal-contact-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
  display: none;
}
